---
import Base from './Base.astro';

export interface Props {
    content: {
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
        image?: string;
        link?: string;
        linkText?: string;
    };
}

var date = new Date(Astro.props.content.pubDate);
var updatedDate = new Date(Astro.props.content.updatedDate);

if (date.toString() === 'Invalid Date') {
    date = undefined;
}

if (updatedDate.toString() === 'Invalid Date') {
    updatedDate = undefined;
}

const {
    content: { title, description, pubDateRaw, updatedDateRaw, image, link, linkText },
} = Astro.props as Props;

---

<Base title={title} description={description}>
    {image && (
        <img
        width={720}
        src={image}
        alt=""
        />
    )}
    <div id="title_and_image">
        <div id="title">
            <h1>{title}</h1>
            {date && <time>{date.toDateString()}</time>}
            {updatedDate && <div>Last updated on <time>{updatedDate.toDateString()}</time></div>}
            {link && linkText && <div><a href={link}>{linkText}</a></div>}
        </div>
        <img src="/profile.jpeg" id="side_image" alt=""/>
    </div>
    <hr/>
    <main>
        <article>
            <slot />
        </article>
    </main>
    <style>
        #title_and_image {
            display: flex;
            flex-direction: row;
        }
        #title {
            width: calc(100% - 76px);
        }
        #title h1 {
            font-size: 2em;
            font-weight: bold;
            margin-top: 0;
            padding-top: 0;
        }
        #title a {
            text-decoration: none;
        }
        #side_image {
            border-radius: 50%;
            height: 76px;
            width: 76px;
        }
    </style>
</Base>
